.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.4rem 2.8rem;
  font-size: 1.4rem;
  background-color: #c0eb75;

  margin-bottom: 4.2rem;
}

.main-menu-list {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  list-style: none;
}

.home-icon {
  font-size: 2.4rem;
}

.home-page-icone-item:link,
.home-page-icone-item:visited {
  display: flex;
  align-items: center;

  color: #4d5e2f;
  transition: all 0.3s;
}
.home-page-icone-item:hover,
.home-page-icone-item:active {
  color: #262f17;
}

.input-search {
  display: flex;
  border: 1px solid #ffd700;
  border-radius: 3px;
  background-color: #ffd700;
}

.menu-search-value {
  font-size: 1.8rem;
  padding: 0.4rem;
  border: inherit;
  border-radius: 3px;

  background-color: #fff;
}

.menu-start-searching-btn {
  border: none;
  font-size: 2.4rem;
  padding: 0.3rem;
  border-radius: 0 3px 3px 0;

  background-color: #ffd700;
  color: #4d4d4d;

  transition: all 0.3s;
}

.search-btn-icon {
  display: block;
}

.menu-start-searching-btn:hover {
  background-color: #ffe766;
}
.menu-start-searching-btn:active {
  transform: scale(0.85);
}

/* ОСНОВНОЙ ПОТОК */

.main-container {
  position: relative;
  width: 90rem;
  padding: 6.2rem;
  margin: 0 auto;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.02);
}

/* USER */

.user-profile-main-container {
  display: grid;
  grid-template-columns: 12rem 1fr;
  column-gap: 3.2rem;
}

.user-media-zone-container {
  justify-self: center;
  grid-row: 1 / 3;
}

.user-avatar-thumbnail-size {
  width: 12rem;
  height: 12rem;

  border-radius: 50%;
}

.description-box {
  display: flex;
  flex-direction: column;

  padding: 2.4rem;
}

.user-name {
  font-size: 2.8rem;
  font-weight: 400;
  color: #4d5e2f;
}

.user-login {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 1.8rem;
}

.user-contact-information {
  font-size: 1.6rem;

  margin-bottom: 2.4rem;
}

.user-contact-list {
  display: flex;
  flex-direction: column;
  list-style: none;

  gap: 0.8rem;
}

.user-carousel {
  display: flex;
  align-items: center;
  padding: 0.8rem 3.6rem;
  border-radius: 3px;

  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
  position: relative;
  transition: all 0.3s;

  background-color: #f9fdf1;
}

.user-gallery {
  width: 50.4rem;
  overflow: hidden;
}

.user-gallery .img-carousel-ul {
  width: 9999px;
  list-style: none;
  display: flex;
  gap: 0.8rem;
  margin: 0;

  transition: margin-left 250ms;
}

.user-photo-thumbnail-size {
  width: 12rem;
}

.arrow-btn {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  padding: 0.2rem;
  font-size: 2.8rem;
  background: none;
  border-radius: 3px;
  border: none;
  color: #f9fdf100;
  z-index: 9999;

  transition: all 0.3s;
}

.arrow-btn:hover {
  color: #f9fdf1;
  background: #60763ba2;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
}

.arrow-btn:active {
  background: #4d5e2f;
  box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.1);
}

.arrow-btn.prev {
  left: 0;
}
.arrow-btn.next {
  right: 0;
}

/* USER POSTS */

.user-post-container {
  position: relative;
  margin: 2.4rem;
  padding: 3.2rem;
  box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  margin-bottom: 4.2rem;
}

.user-post-info-container {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}

.user-post-info-avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.user-post-name-box {
  display: flex;
  flex-direction: column;
  padding: 0 1.2rem;
  font-size: 1.8rem;
}

.user-post-info-login {
  font-size: 1.2rem;
}

.user-post-imgs-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  border-radius: 3px;

  margin: auto;
  margin-bottom: 1.8rem;

  height: 30rem;
  width: 40.7rem;

  overflow: hidden;

  box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.07);
}

.home-page-icone-item {
  height: 80;
  width: 80;
}

.user-post-text-box {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

.user-post-header {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.user-post-ratings-box {
  display: inline-block;
}

.user-post-ratings-button {
  border-radius: 50%;
  font-size: 2.4rem;
  padding: 0.8rem;

  background-color: #f2fbe3;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3;
}

.post-like-icon:hover {
  color: red;
}
.post-like-icon:active {
  transform: scale(1.1);
}

.post-like-icon.liked {
  color: red;
}

/*full size umg*/

.opened-img-background-box {
  z-index: 9999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;

  background-color: #0000008a;
}

.opened-img-box {
  display: flex;
  flex-direction: column;

  align-items: start;
  background-color: #fff;

  border-radius: 3px;

  padding: 1.8rem;

  box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.07);
}

.full-size-img {
  height: 50rem;
  width: 50rem;

  margin-bottom: 1.2rem;
}

.close-opened-img-box-btn {
  align-self: flex-end;
  display: flex;
  background: none;
  border: none;
  border-radius: 50%;

  font-size: 2.8rem;

  margin-bottom: 1.2rem;
  padding: 0.1rem;

  transition: all 0.3s;
}

.close-opened-img-box-btn:hover {
  background-color: #ecf9d6;
}

/*temp*/

.temp-users-name {
  width: 50rem;
  font-size: 3.6rem;
  margin: 3.2rem;
}

.temp-users-name p {
  margin-bottom: 2.3rem;
}

.temp-users-name ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style: none;
}
